
.bankMoney{
  font-size: 1.5em;
  width: 80%;
  margin: 10px;
}

.bankMoney span{
  float: right;
}

.bankButtons{
  margin: 10px 100px;
}

.bankButtons button{
  height: 80px;
  width: 90px;
  margin: 10px 10px;
}

.bankButtons button span{
  font-size: .8em;
  display: block;
}

.bankIcon{
  font-size: 2em;
  color: green;
}
