
.teamHomePanelNewSalary{
  width: 100%;
  display: block;
  margin: 10px 0px;
}

.teamHomePanelNewSalary .title{
  text-align: center;
  font-size: 2em;
}

.teamHomePanelNewSalary .selection{
  margin: 60px 0px;
  text-align: center;
}

.teamHomePanelNewSalary .buttons{
  text-align: center;
}

.teamHomePanelNewSalary .buttons button{
  margin: 0px 15px;
  height: 70px;
  width: 70px;
}

.teamHomePanelNewSalaryGreenCheck{
  color: green;
}

.teamHomePanelNewSalaryRedTimes{
  color: red
}
