
.teamHomePanelOpponentName{
  margin: 0px -15px 10px;
  height: 30px;
}

.teamHomePanelOpponentName span{
  font-size: 1.6em;
  width: 100%;
  text-align: center;
  border: 1px solid black;
}

.teamHomeOpponentMoralBar .progress{
  width: 100%;
  border: 2px solid #000;
  height: 2em;
}

.teamHomeOpponentCoach{
  margin: 50px -10px;
  width: 100%;
}

.teamHomeOpponentCoach span{
  padding-left: 20px;
}

.teamHomeOpponentButtons{
  height: 100px;
  float: right;
}

.teamHomeOpponentButtons button{
  height: 80px;
  width: 90px;
  margin: 10px 5px;
}
