
.panel{
  display: block;
}

.nextMatch{
  display: block;
  margin: 5px -15px;
}

.nextMatch span{
  float: right;
}

.nextMatchInfo{
  display: block;
  padding-left: 5px;
  margin: 0px -15px 10px;
}

.teamHomePanel{
  height: 290px;
}

.teamHomePanelMenu{
  font-size: smaller;
  margin: 10px -15px;
}

.teamHomePanelMenuActive{
  border: 2px inset;
  background-color: #777;
  color: white;
}
