
.teamHomePanelFinance{
  font-size: 90%;
  width: 90%;
  border: 1px solid black;
  border-collapse: collapse;
}

.teamHomePanelFinance tbody{
  font-size: 90%;
  border: 1px solid black;
  border-collapse: collapse;
}

.teamHomePanelFinance tr th:nth-child(2),
.teamHomePanelFinance tr td:nth-child(2){
  float: right;
  padding-right: 5px;
}

.teamHomePanelFinance tbody:nth-last-child(1){
  padding-top: 10px;
}

.teamHomePanelFinanceCurrent{
  margin-top: 5px;
  font-size: 90%;
  width: 90%;
  border: 1px solid black;
  border-collapse: collapse;
}

.teamHomePanelFinanceCurrent tbody tr{
  font-size: 90%;
}

.teamHomePanelFinanceCurrent tr th:nth-child(2),
.teamHomePanelFinanceCurrent tr td:nth-child(2){
  float: right;
  padding-right: 5px;
}

