
.matchesOrigin {
  display: flex;
  background: rgb(8, 126, 4);
  border: 1px solid #999;
  width: 100%;
  height: 100%;
}

.matchesBoard {
  margin: 5px auto;
  background: rgb(8, 126, 4);
  width: 800px;
  min-height: 520px;
}

.matchesBox {
  margin: 10px auto;
  border: 3px solid #000;
  width: 100%;
  background: rgb(8, 126, 4);
}

.matchesTopMenu {
  margin: 10px;
  width: 100%;
}

.matchesTopMenu > button {
  margin: 2px 1% 2px 1%;
  width: 23%;
  height: 100%;
  font-weight: bold;
}

.clock {
  float: right;
  width: 5%;
}

.divisionBox {
  margin: 10px 10px 20px 20px;
  border: 1px solid #000;
  width: 95%;
}

.cupBox {
  margin: 10px 10px 20px 20px;
  border: 1px solid #000;
  width: 95%;
}

.seasonYear {
  color: #55F;
  width: 28%;
  height: 100%;
  font-weight: bold;
  font-size: 25px;
  text-align: left;
  float: left;
  margin-left: 10px;
}

.roundNumber {
  color: #F80;
  width: 30%;
  height: 100%;
  font-weight: bold;
  font-size: 25px;
  text-align: center;
  float: left;
}

.divisionNumber {
  margin: 5px;
  color: #0F0;
  font-weight: bold;
  font-size: 20px;
}

.divisionsTopBar {
  margin: 10px;
  width: 95%;
  height: 40px;
}

.cupTopBar {
  margin: 10px;
  width: 95%;
  height: 40px;
}