
.matchBox {
  margin: 5px;
  width: 100%;
}

.team {
  display: inline-block;
  margin: 0 5px 0;
  width: 20%;
  padding: 1px 5px;
}

.home {
  text-align: right;
}

.away {
  text-align: left;
}

.matchStory {
  display: inline-block;
  width: 30%;
  color: rgb(226, 214, 44);
}

.attendance {
  display: inline-block;
  background: #ddd;
  width: 20%;
  padding: 0px 1px;
}

.scoreboard {
  display: inline-block;
  color: rgb(226, 214, 44);
}

.leftScoreboard {
  display: inline-block;
}

.rightScoreboard {
  display: inline-block;
}