
.standings{
  margin: 10px auto;
  border: 1px solid #000;
  width: 100%;
  cursor: default;
}

.standingsTable{
  margin: 10px auto;
  width: 40%;
}

.standingsTable tr{
  text-align: center;
  border: 1px solid #000;
  border-collapse: collapse;
}

.standingsTable tr td:nth-child(1){
  text-align: left;
  width: 50%;
}

.standingsTable tr td:nth-child(2),
.standingsTable tr td:nth-child(3),
.standingsTable tr td:nth-child(4),
.standingsTable tr td:nth-child(6){
  width: 7.5%;
}

.standingsTable tr td:nth-child(5){
  width: 10%;
}