
.standings{
  margin: 10px auto;
  border: 1px solid #000;
  width: 100%;
  cursor: default;
}

.standingsTable{
  margin: 10px auto;
  width: 40%;
}

.standingsTable thead tr td{
  font-size: 1.2em;
  font-weight: bold;
  color: gold;
}

.standingsTable tbody tr{
  text-align: center;
  border: 1px solid #000;
  border-collapse: collapse;
}

.standingsTable tbody tr td:nth-child(1){
  text-align: left;
  width: 58%;
}

.standingsTable tbody tr td:nth-child(2),
.standingsTable tbody tr td:nth-child(3),
.standingsTable tbody tr td:nth-child(4),
.standingsTable tbody tr td:nth-child(8){
  width: 7.5%;
}

.standingsTable tbody tr td:nth-child(5){
  width: 5%;
  text-align: right;
}

.standingsTable tbody tr td:nth-child(7){
  width: 5%;
  text-align: left;
}

.standingsTable tbody tr td:nth-child(6){
  width: 2%;
}