
.teamHome{
  margin: 10px auto;
  border: 1px solid #000;
  padding: 0 0px;
}

.teamHomeHeader{
  background-color: #ddd;
  color: black;
  border-bottom: 1px solid #000;
  padding-left: 1px;
}

.teamHomePlayers{
  font-size: 80%;
  width: 95%;
}

.nextMatch{
  display: block;
  margin: 5px -15px;
}

.nextMatch span{
  float: right;
}

.nextMatchInfo{
  display: block;
  padding-left: 5px;
}

.teamHomeHeadToHead{
  font-size: 90%;
  width: 100%;
  margin: 10px 0;
}

.teamHomeHeadToHead tr{
  border: 1px solid #000;
  border-collapse: collapse;
}

.teamHomeLastHeadtoHead{
  margin: 50px 0;
}

.teamHomeLastHeadtoHead span{
  margin-left: 40px;
}

.teamHomeCash{
  display: block;
  margin: 10px -15px;
}

.teamHomeMoral{
  display: block;
  margin: 15px -15px;
}

.teamHomePanelMenu{
  font-size: smaller;
  margin: 10px -15px;
}

.teamHomePanelMenuActive{
  background-color: #777;
  color: white;
}