
.teamModal {
  border: 1px solid #000;
  height: 390px;
  width: 100%;
  cursor: default;
}

.teamModalHeader{
  text-align: center;
  background-color: #ddd;
  color: black;
  border: 1px solid #000;
}

.teamModalPlayers {
  height: 150px;
  font-size: 90%;
}

.teamModalPlayersTable{
  width: 225px;
  border: 1px solid #000;
  float: left;
  background-color: white;
  color: black;
}

.teamModalReservesTable{
  width: 225px;
  border: 1px solid #000;
  float: right;
  background-color: white;
  color: black;
}

.teamModalSubButton{
  padding: 20px 74px;
  float: right;
}

.teamModalSubButton button{
  height: 70px;
  width: 90px;
  cursor: default;
}

.teamModalHistoryTable{
  font-size: 100%;
  height: 150px;
  overflow-y: scroll;
  display: block;
}

.yellowCard{
  color: yellow;
}

.redCard{
  color: red;
}