
.teamHome{
  margin: 10px auto;
  border: 1px solid #000;
  padding: 0 0px;
  height: 450px
}

.teamHomeHeader{
  background-color: #ddd;
  color: black;
  border-bottom: 1px solid #000;
  padding-left: 1px;
}

.teamHomePlayers{
  font-size: 80%;
  width: 95%;
  cursor: default;
}

.teamHomePlayers tbody{
  border: 1px solid #000;
  border-collapse: collapse;
}