
.teamModal {
  border: 1px solid #000;
  height: 390px;
  width: 100%;
  cursor: default;
}

.teamModalHeader{
  text-align: center;
  background-color: #ddd;
  color: black;
  border: 1px solid #000;
}

.teamModalPlayers {
  height: 200px;
  font-size: 90%;
}

.teamModalPlayersTable,
.teamModalReservesTable{
  width: 225px;
  border: 1px solid #000;
  background-color: white;
  color: black;
  display: block;
  text-align: center;
}

.teamModalPlayersTable{
  float: left;
  height: 200px;
}

.teamModalReservesTable{
  float: right;
  height: 130px;
}

.teamModalPlayersTable tbody{
  max-height: 200px;
}

.teamModalReservesTable tbody{
  max-height: 130px;
}

.teamModalPlayersTable tbody tr td:nth-child(1),
.teamModalReservesTable tbody tr td:nth-child(1),
.teamModalPlayersTable tbody tr td:nth-child(3),
.teamModalReservesTable tbody tr td:nth-child(3){
  width: 5%;
  padding: 0 2px;
}

.teamModalPlayersTable tbody tr td:nth-child(2),
.teamModalReservesTable tbody tr td:nth-child(2){
  width: 90%;
  text-align: left;
}

.teamModalSelected{
  background-color: black;
  color: white;
}

.teamModalSubButton{
  padding: 6px 74px;
  float: right;
}

.teamModalSubButton button{
  height: 60px;
  width: 80px;
  cursor: default;
}

.teamModalHistoryTable{
  font-size: 100%;
  height: 150px;
  overflow-y: scroll;
  display: block;
  text-align: center;
}

.teamModalHistoryTable tbody tr td:nth-child(4){
  text-align: left;
}

.redCard{
  color: red;
}