
.teamInfo{
  margin: 10px auto;
  border: 1px solid #000;
  padding: 0 0px;
  height: 505px;
  cursor: default;
}

.teamInfo button{
  cursor: default;
}

.teamInfoHeader{
  background-color: #ddd;
  color: black;
  border-bottom: 1px solid #000;
  padding-left: 1px;
}

.teamInfoSelection{
  cursor: default;
  margin: 5px auto;
}

.teamInfoSelection select{
  width: 70%;
}

.teamInfoSelection span{
  margin-left: 20px;
}

.teamInfoPlayers{
  font-size: 80%;
  width: 95%;
  cursor: default;
  border: 5px inset gray;
  margin: 5px auto;
  text-align: center;
}

.teamInfoPlayers tbody{
  border: 1px solid #000;
  border-collapse: collapse;
  width: 100%;
}

.teamInfoPlayers tbody tr td:nth-child(1),
.teamInfoPlayers tbody tr td:nth-child(3),
.teamInfoPlayers tbody tr td:nth-child(4){
  width: 5%;
}

.teamInfoPlayers tbody tr td:nth-child(2){
  text-align: left;
  width: 50%;
}

.teamInfoPlayers tbody tr td:nth-child(5){
  width: 10%;
}

.teamInfoPlayers tbody tr td:nth-child(6){
  width: 15%;
  text-align: right;
}

.teamInfoPlayer{
  height: 150px;
  margin: 10px auto;
}

.teamInfoMoralBar{
  margin: 5px auto;
  border: 2px solid #000;
  height: 2em;
}

.teamInfoSupButtons{
  height: 80px;
  text-align: center;
  font-size: 85%;
}

.teamInfoSupButtons button{
  padding: 0px;
  height: 60px;
  width: 70px;
  margin: 10px 15px;
}

.teamInfoInfButtons{
  height: 80px;
  text-align: center;
  font-size: 85%;
}

.teamInfoInfButtons button{
  padding: 0px;
  height: 60px;
  width: 70px;
}

.teamInfoInfButtons button span{
  display: block;
}
