
.teamHome{
  margin: 10px auto;
  border: 1px solid #000;
  padding: 0 0px;
  height: 530px;
  cursor: default;
}

.teamHome button{
  cursor: default;
}

.teamHomeHeader{
  background-color: #ddd;
  color: black;
  border-bottom: 1px solid #000;
  padding-left: 1px;
}

.teamHomeContent{
  margin-left: 0px;
  padding-left: 0px;
}

.teamHomeCoach{
  margin-left: 60px;
  font-size: 1.5em;
}

.teamHomeInfo{
  margin-bottom: 5px;
  width: 100%;
}

.teamHomeInfo div{
  margin-left: 5px;
  padding-top: 5px;
}

.teamHomeInfo span{
  margin-left: 70px;
}

.teamHomePlayers{
  font-size: 80%;
  width: 95%;
  cursor: default;
  text-align: center;
  border: 2px inset gray;
  border-collapse: collapse;
}

.teamHomePlayers tbody{
  border: 1px solid #000;
  border-collapse: collapse;
  width: 100%;
}

.teamHomePlayers tbody tr td:nth-child(1),
.teamHomePlayers tbody tr td:nth-child(2),
.teamHomePlayers tbody tr td:nth-child(4),
.teamHomePlayers tbody tr td:nth-child(5),
.teamHomePlayers tbody tr td:nth-child(8){
  width: 5%;
}

.teamHomePlayers tbody tr td:nth-child(3){
  text-align: left;
  width: 50%;
}

.teamHomePlayers tbody tr td:nth-child(6){
  width: 10%;
}

.teamHomePlayers tbody tr td:nth-child(7){
  width: 15%;
  text-align: right;
}