
.teamModal {
  position: absolute;
  margin: 10px 145px;
  width: 30%;
  border: 1px solid #000;
  min-height: 300px;
  min-width: 350px;
}

.teamModalHeader{
  text-align: center;
  background-color: #ddd;
  color: black;
  border: 1px solid #000;
}

.teamModalCloseButton{
  float: right;
  margin-right: 1px;
  cursor: pointer;
}

.teamModalPlayers {
  min-height: 150px;
  font-size: 90%;
}

.teamModalPlayersTable{
  border: 1px solid #000;
  float: left;
  background-color: white;
  color: black;
}

.teamModalReservesTable{
  border: 1px solid #000;
  float: right;
  background-color: white;
  color: black;
}

.teamModalSubButton{
  margin: 10px 12px;
  height: 70px;
  width: 90px;
  float: right;
}

.teamModalHistoryTable{
  font-size: 80%;
  height: 150px;
  overflow-y: scroll;
  display: block;
}

.yellowCard{
  color: yellow;
}

.redCard{
  color: red;
}