body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  min-width: 750px;
  min-height: 450px;
}

.game {
  display: flex;
  background: rgb(8, 126, 4);
  border: 1px solid #999;
}

.game-board {
  margin: 5px auto;
  min-width: 750px;
  min-height: 450px;
}