body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

.game {
  display: flex;
  background: rgb(8, 126, 4);
  border: 1px solid #999;
}

.game-board {
  margin: 5px auto;
  width: 60%;
}

.divisionBox {
  margin: 10px auto;
  border: 1px solid #000;
  width: 100%;
}

.matchBox {
  margin: 5px;
  width: 100%;
}

.attendance {
  display: inline-block;
  background: #ddd;
  width: 20%;
  padding: 0px 1px;
}

.team {
  display: inline-block;
  margin: 0 5px 0;
  width: 20%;
  padding: 1px 5px;
}

.home {
  text-align: right;
}

.away {
  text-align: left;
}

.scoreboard {
  display: inline-block;
  color: rgb(226, 214, 44);
}

.leftScoreboard {
  display: inline-block;
}

.rightScoreboard {
  display: inline-block;
}

.matchStory {
  display: inline-block;
  width: 30%;
  color: rgb(226, 214, 44);
}