body {
  font: 14px "Century Gothic", Futura, sans-serif;
  min-height: 100vh; /* For 100% screen height */
  min-width: 100vw; /* For 100% screen width */
}

.game {
  display: flex;
  background: rgb(8, 126, 4);
  border: 1px solid #999;
}

.game-board {
  margin: 5px auto;
  min-width: 800px;
  min-height: 520px;
}

.gameTopMenu {
  width: 100%;
}

.gameTopMenu > button {
  margin: 2px 1% 2px 1%;
  width: 17%;
  height: 100%;
  font-weight: bold;
}